/* Project stylesheet */
/* Version 1.2 */

/* Color Theme - #D90D58 - Wine Pink, #1EB7D9 - Bright Cerulean*/

/* =============================================================*/
/* ==================== Basic configuration ====================*/
/* =============================================================*/

@import "./style.css";
@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Roboto&display=swap');

h1, .index h3, .contact h3{
    font-family: Helvetica, sans-serif
}

/* =============================================================*/
/* ======================= Main Contents =======================*/
/* =============================================================*/

.projects {
    padding:20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:flex-start;
    flex-flow:wrap;
}

.box {
    width: 400px;
    margin: 0 10px;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #999999;
}

video.projectVid {
    position: relative;
    top: 0px;
    left: 0px;
    height: calc(100% - 42px);
    min-width: calc(100% - 42px);
    object-fit: cover;
}

h2.title a {
    font-size: 24px;
}

.italic {
    font-style:italic;
}

.box ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    padding: 0;
}

.box ul li {
    padding: 1px 5px;
    margin: 5px;
    border-radius: 5px;
    background-color: lightgray;
}
.box ul li:first-child {
    margin-left: 0;
}

.gray {
    color:#aaaaaa;
}

.accent {
    color:#D90D58;
}

/* mobile */
@media screen and (max-width: 767px) {
    .projects {
        position: static;
        width: 100%;
        height: 100%;
    }
    .box {
        width: 80%;
    }
    
}