extends base.pug
include mixins/postpreview.pug

block head
    link(rel="stylesheet", href="/assets/css/blogStyle.css")

block content 
    article.contents
        h1 Blogs
        each post in posts
            +postPreview(post)
        else
            h3 No post is posted yet.
        if loggedIn
            a(href="/blog/write") Write new &rarr;
        else
            a(href="/login") Login as Admin to write new &rarr;