extends base.pug
include mixins/chatText.pug

block head
    link(rel="stylesheet", href="/assets/css/chatStyle.css")
    

block content
    div.mainBox
        div.chatLists(data-len=chats.length, data-user=session.name)
            each chat in chats
                +chatText(chat)
        form.inputBox(method="POST")
            input#refresh(type="button", value="\u27f3")
            input.text(name="text", placeholder=session.name, required, autofocus)
            input(type="submit", value="Send")
    
    script(src="/assets/script/chatSync.js") 
