extends base.pug

block head
    link(rel="stylesheet", href="/assets/css/homeStyle.css")

block content
    video(autoplay, loop, muted, playsinline)
        source(src="/assets/video/goldendonut.mp4", type="video/mp4")
    div.overlay
    div.home-content
        h1 LuaBerry