extends base.pug

block head
    link(rel="stylesheet", href="/assets/css/homeStyle.css")

block content
    video(autoplay, loop, muted, playsinline, disablePictureInPicture)
        source(src="/assets/video/PR_Video_Opt2.mp4", type="video/mp4")
    div.overlay
    div.home-content
        h1 LuaBerry
    div.blank