extends base.pug

block head
    link(rel="stylesheet", href="/assets/css/indexStyle.css")

block content
    br
    h3
        a(href="https://github.com/Baskin-Lazpberry/FullStack-YouTube_Clone") Wetube
        br
    small 2023.04
    br
    br
    br