extends base.pug

block head
    link(rel="stylesheet", href="/assets/css/projectsStyle.css")

block content 
    article.contents
        div.box
            h2.title
                a(href="https://github.com/Baskin-Lazpberry/FullStack-YouTube_Clone") 
                    | Wetube
            p.description Youtube clone coding
            ul.skills
                li.skill Node.js
                li.skill Express
                li.skill MongoDB
                li.skill Pug
            small.time 2023.04
        div.box
            h2.title
                a(href="https://github.com/Baskin-Lazpberry/UE4-SideScrollGame") 
                    | Side Scroll Game
            p.description Side Scroll RPG with Unreal Engine 4
            ul.skills
                li.skill Unreal Engine 4
                li.skill Blueprint
                li.skill Cinematics
            small.time 2022.04