extends base.pug

block head
    link(rel="stylesheet", href="/assets/css/projectsStyle.css")

block content 
    article.contents
        //- div.box
        //-     h2.title
        //-         a(href="https://github.com/Baskin-Lazpberry/FullStack-YouTube_Clone") 
        //-             | ViNote
        //-     p.description Wine Tasting Note app
        //-     ul.skills
        //-         li.skill MongoDB
        //-         li.skill Express
        //-         li.skill React.JS
        //-         li.skill Node.js
        //-     small.time 2023.06
        div.box
            h2.title
                a(href="https://github.com/Baskin-Lazpberry/FullStack-YouTube_Clone") 
                    | Wetube
            p.description Youtube clone coding
            ul.skills
                li.skill MongoDB
                li.skill Express
                li.skill Pug
                li.skill Node.js
            small.time 2023.05
        div.box
            h2.title
                a(href="https://github.com/Baskin-Lazpberry/FullStack-YouTube_Clone") 
                    | Movie Ratings
            p.description Movie Review Website with React
            ul.skills
                li.skill React.js
            small.time 2023.05
        div.box
            h2.title
                a(href="https://github.com/Baskin-Lazpberry/UE4-SideScrollGame") 
                    | Side Scroll Game
            p.description Side Scroll RPG with Unreal Engine 4
            ul.skills
                li.skill Unreal Engine 4
                li.skill Blueprint
                li.skill Cinematics
            small.time 2022.04