extends base.pug

block head
    link(rel="stylesheet", href="/assets/css/sidebarStyle.css")
    link(rel="stylesheet", href="/assets/css/resumeStyle.css")

block content
    include partials/sidebar.pug
    article.contents
        div#name
            div.bg
                h1 여정인
                hr
                h3 한양대학교 학부생
        a(href="./resume")
            small For English version &rarr;
        div#personal_info
            h3.subhead About Me
            span
                | 한양대학교 
                span.accent 컴퓨터 소프트웨어 학부 
                | 2학년생 입니다.
                br
                | 제 시야를 넓히고 개발 기술을 연마할 기회를 찾고 있습니다.
        div#education
            h3.subhead Education
            span
                | 한양대학교 학부생
                li 
                    span.accent 컴퓨터소프트웨어학부 
                li 학점 3.5/ 4.5 (90.0 / 100)
        div#experience
            h3.subhead Experience
            span 
                | 오파츠 (OOPArts)
                li 게임 개발 동아리 
                    span.accent 회장
                li 코로나 상황 대응 - 온래안 개발 수업 및 멘토링 &amp; 게임 발표회
                li 2020~2021 
                br
                | 게임 외주 개발: "Hidden World"
                li AR 네비게이션 &amp; 해양 생물 모델등을 제공하는 유니티 해양관광 앱
                li 애니메이션, AR, 최적화
                li 2020.11~2021.02
                br
                | 카투사 (KATUSA)
                li 2021.06 - 2022.12
        div#skills
            h3.subhead Certification
            span 
                | 토익 (TOEIC)
                li 2020.07
                li 950/990
                br
                | SQL 개발자 (SQLD)
                li SQL Developer
                li 2023.04
            h3.subhead Technical Skills
            span
                | 중급
                li C#
                li Python
                br
                | 초급
                li C, C++
                li JavaScript
                li SQL
                br
            h3.subhead Language
            span
                | 한국어
                li 원어민
                br 
                | 영어
                li 고급
                li 제한적으로 업무 의사소통 가능
                br
                | 일본어
                li 초급
                li 단독 여행 가능
                br 
                | 프랑스어
                li 기초 의사소통 가능
        div#references
            h3.subheadReferences
                span 