extends base.pug

block head
    link(rel="stylesheet", href="/assets/css/sidebarStyle.css")
    link(rel="stylesheet", href="/assets/css/resumeStyle.css")

block content
    include partials/sidebar.pug
    article.contents
        div#name
            div.bg
                h1 YEO, JEONG IN
                hr
                h3 Hanyang University Student
        div#personal_info
            h3.subhead About Me
            span
                | Sophomore in 
                span.accent Computer Science 
                | at Hanyang University.
                br
                | I am looking for an opportunity to practice my skills and broaden my horizon.
        div#education
            h3.subhead Education
            span
                | Hanyang University
                br
                span.italic Undergraduate Student
                li Bachelor of Science in 
                    span.accent Computer Science
                li Total GPA of 3.45/ 4.5 (88.0 / 100)
        div#experience
            h3.subhead Experience
            span 
                | OOPArts
                li Game Dev Club
                li 2020~2021 
                    span.accent President
                br
                | KATUSA
                li Korean Augmentation To the 
                    span.accent US Army
                li 2021.06 - 2022.12
        div#skills
            h3.subhead Certification
            span 
                | TOEIC
                li Test of English</li>
                li 2020.07
                li 950/990
                br
                | SQLD
                li SQL Developer
                li 2023.04
            h3.subhead Technical Skills
            span
                | Intermediate
                li C#
                li Python
                br
                | Elementary
                li C, C++
                li JavaScript
                li SQL
                br
                | Beginner
                li Go
                li Java
            h3.subhead Language
            span
                | Korean
                li Native
                br 
                | English
                li Intermediate
                li Limited working proficiency
                br
                | Japanese
                li Beginner
                li Elementary proficiency
                br 
                | French
                li Beginner
                li Elementary proficiency
        div#references
            h3.subheadReferences
                span 