extends base.pug

block head
    link(rel="stylesheet", href="/assets/css/resumeStyle.css")

block content
    div.sidebar
        div.profile
            div.profile_outline
                img(src="assets/img/profile.jpg" alt="Profile Image")
        div.contact
            h3 CONTACT
            hr.sidebar_line
            ul
                li
                    a(href="mailto:jeong.i.yeo.kr@gmail.com")
                        img(src="/assets/img/mail_logo.svg" alt="phone_logo" height="20")
                        span jeong.i.yeo.kr@gmail.com
                li
                    a(href="tel:(+82)10-9367-8253")
                        img(src="/assets/img/phone_logo.svg" alt="phone_logo" height="20")
                        span (+82)10-9367-8253
                li
                    a(href="https://goo.gl/maps/hA1XZBdaGZewab567")
                        img(src="/assets/img/maps_logo.svg" alt="phone_logo" height="20")
                        span Seoul, Korea
                li
                    a(href="https://www.linkedin.com/in/ji-yeo/")
                        img(src="/assets/img/linkedin_logo.svg" alt="linkedin_logo" height="20")
                        span linkedin.com/in/ji-yeo/
                br
        div.index
            h3 INDEX
            hr.sidebar_line
            ul
                li
                    a(href="#name") Personal Identification
                li
                    a(href="#education") Education
                li
                    a(href="#experience") Experience
                li
                    a(href="#skills") Skills
                li
                    a(href="#references") References
    article.contents
        div#name
            div.bg
                h1 JEONG IN, YEO
                hr
                h3 Hanyang University Student
        div#personal_info
            h3.subhead Personal Information
            span
                span.accent Sophomore
                |   in Computer Science at HYU
                br
                |   I am currently on 
                span.accent a leave of absence
                |   and plan to return to school for the winter semester of 2023.
                br
        div#education
            h3.subhead Education
            span
                | Hanyang University
                br
                span.italic Undergraduate Student
                li Bachelor of Science in 
                    span.accent Computer Science
                li Total GPA of 3.45/ 4.5 (88.0 / 100)
        div#experience
            h3.subhead Experience
            span 
                | OOPArts
                li Game Dev Club
                li 2020~2021 
                    span.accent President
                br
                | KATUSA
                li Korean Augmentation To the 
                    span.accent US Army
                li 2021.06 - 2022.12
        div#skills
            h3.subhead Certification
            span 
                | TOEIC
                li Test of English</li>
                li 2020.07
                li 950/990
                br
                | SQLD
                li SQL Developer
                li 2023.04
            h3.subhead Technical Skills
            span
                | Intermediate
                li C#
                li Python
                br
                | Elementary
                li C, C++
                li JavaScript
                li SQL
                br
                | Beginner
                li Go
                li Java
            h3.subhead Language
            span
                | Korean
                li Native
                br 
                | English
                li Intermediate
                li Limited working proficiency
                br
                | Japanese
                li Beginner
                li Elementary proficiency
                br 
                | French
                li Beginner
                li Elementary proficiency
        div#references
            h3.subheadReferences
                span 