extends base.pug

block head
    link(rel="stylesheet", href="/assets/css/sidebarStyle.css")
    link(rel="stylesheet", href="/assets/css/resumeStyle.css")

block content
    include partials/sidebar.pug
    article.contents

        div#name
            div.bg
                h1 YEO, JEONG IN
                hr
                h3 Hanyang University Student
        a(href="./resumeKR")
            small 한국어 버전은 이쪽으로 &rarr;
        div#personal_info
            h3.subhead About Me
            span
                | Sophomore in 
                span.accent Computer Science 
                | at Hanyang University.
                br
                | I am looking for an opportunity to practice my skills and broaden my horizons.
        div#education
            h3.subhead Education
            span
                | Hanyang University
                br
                span.italic Undergraduate Student
                li Bachelor of Science in 
                    span.accent Computer Science
                li Total GPA of 3.5/ 4.5 (90.0 / 100)
        div#experience
            h3.subhead Experience
            span 
                | OOPArts
                li Game Dev Society 
                    span.accent President
                li Swift COVID response with Online Game Dev tutoring &amp; Showcase
                li 2020~2021 
                br
                | Game Outsourcing Project: "Hidden World"
                li Unity Marine tourism app with AR navigation &amp; real-time marine life models
                li Animation, AR, Optimization
                li 2020.11~2021.01
                br
                | KATUSA
                li Korean Augmentation To the 
                    span.accent US Army
                li 2021.06 - 2022.12
        div#skills
            h3.subhead Certification
            span 
                | TOEIC
                li Test of English</li>
                li 2020.07
                li 950/990
                br
                | SQLD
                li SQL Developer
                li 2023.04
            h3.subhead Technical Skills
            span
                | Intermediate
                li C#
                li Python
                br
                | Elementary
                li C, C++
                li JavaScript
                li SQL
                br
            h3.subhead Language
            span
                | Korean
                li Native
                br 
                | English
                li Intermediate (B2~C1)
                li Limited working proficiency
                br
                | Japanese
                li Elementary (A2)
                li Able to travel alone
                br 
                | French
                li Beginner (A1)
                li Basic communication
        div#references
            h3.subheadReferences
                span 