extends base.pug

block head
    link(rel="stylesheet", href="/assets/css/indexStyle.css")

block content
    form(method="post")
        label(for="title") Title
        br
        input(name="title", placeholder="Title", required, value=post.title)
        br
        label(for="body") Body
        br
        textarea(name="body", placeholder="Body", required)=post.body
        br
        label(for="hashtags") Hashtags (divide with #)
        br
        input(name="hashtags", placeholder="#Hashtags#Blogs", value=post.hashtags.map(element => ("#" + element)).join(''))
        input(type="submit", value="Post") 