extends base.pug

block head
    link(rel="stylesheet", href="/assets/css/indexStyle.css")

block content
    h1=post.title
    article=post.body
    each hashtag in post.hashtags
        li=hashtag
    br
    a(href="/blog") Back to the lists &rarr;