/* Sidebar stylesheet */
/* Version 1.2 */

/* Color Theme - #D90D58 - Wine Pink, #1EB7D9 - Bright Cerulean*/

/* =============================================================*/
/* ==================== Basic configuration ====================*/
/* =============================================================*/

@import "./style.css";
@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Roboto&display=swap');

h1, .index h3, .contact h3{
    font-family: Helvetica, sans-serif
}

/* =============================================================*/
/* ======================= Main Contents =======================*/
/* =============================================================*/

main {
    display: flex;
    flex-direction: row;
    justify-content:flex-start ;
    align-items: flex-start;
}

.sidebar {
    background-color: #f5f5f5;
    border-right: 1px solid;
    color: black;
    width: 280px;
    padding: 25px;
    align-self: stretch;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 55px;
}

.profile_outline{
    border: 2px solid black;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}


.profile img {
    width: 100px;

}

.sidebar ul {
    width: 100%;
    padding: 0;
    margin-top: 5px;
}

.sidebar ul li {
    list-style: none;
    padding: 5px 0;
}

.sidebar_line {
    width: 200px;
    margin: 0;
    height: 1px;
    border: 0;
    border-bottom: 1px solid black;
    
}

.contact h3, .index h3 {
    margin-bottom: 8px;
}

.contact ul li a{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.contact ul li a i{
    margin-right: 5px;
    width:18px;
}
.contact ul li a i.fa-map, i.fa-linkedin-in{
    font-size: 14px;
}

.contact ul li a i.fa-linkedin-in{
    font-size: 18px;
}

.contents {
    width: calc(100% - 280px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

/* mobile */
@media screen and (max-width: 767px) {
    main {
        flex-direction: column;
    }
    .sidebar {
        position:static;
        width: 100%;
        border:0;
        border-top: 1px solid;
        order: 1;
    }
    .index {
        display: none;
    }
    .contents {
        position: static;
        width: 100%;
        height: 100%;
    }
}