header
    div.container
        nav
            div.logo
                a(href="/")
                    img(src="/assets/img/new_logo.webp" alt="logo" height="50px")
            ul
                li 
                    a(href="/resume") Resume
                li
                    a(href="/projects") Projects
                li
                    a(href="/blog", target="_blank") Blog 
                        i.fa.fa-external-link(style="font-size: 10px;")