header
    div.container
        nav
            div.logo
                a(href="/")
                    img(src="/assets/img/logo.webp" alt="logo" height="50px")
            ul
                li 
                    a(href="/blog") Blog
                li
                    a(href="/projects") Projects
                li
                    a(href="/resume") Resume