header
    div.container
        nav
            div.logo
                a(href="/")
                    img(src="/assets/img/logo.png" alt="logo" height="50px")
            ul
                li
                    a(href="/portfolio") Portfolio
                li
                    a(href="/") Projects
                li
                    a(href="/resume") Resume