div.sidebar
    div.profile
        div.profile_outline
            img(src="assets/img/profile.webp" alt="Profile Image")
    div.contact
        h3 CONTACT
        hr.sidebar_line
        ul
            li
                a(href="mailto:jeong.i.yeo.kr@gmail.com")
                    i.fa-regular.fa-envelope
                    span jeong.i.yeo.kr@gmail.com
            li
                a(href="tel:(+82)10-9367-8253")
                    i.fa-solid.fa-phone
                    span (+82)10-9367-8253
            li
                a(href="https://goo.gl/maps/hA1XZBdaGZewab567")
                    i.fa-regular.fa-map.fa-fw
                    span Seoul, Korea
            li
                a(href="https://www.linkedin.com/in/ji-yeo/")
                    i.fa-brands.fa-linkedin-in
                    span linkedin.com/in/ji-yeo/
            br
    div.index
        h3 INDEX
        hr.sidebar_line
        ul
            each i in index
                li=i