/* Home stylesheet */
/* Version 1.2 */

/* Color Theme - #D90D58 - Wine Pink, #1EB7D9 - Bright Cerulean*/

/* =============================================================*/
/* ==================== Basic configuration ====================*/
/* =============================================================*/

@import "./style.css";
@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Roboto&display=swap');

.banner {
    font-family: Helvetica, sans-serif;
}

.lightaccent {
    color:#ffffff;
}

.lightgray {
    color:#bbbbbb;
}

/* =============================================================*/
/* ======================= Main Contents =======================*/
/* =============================================================*/

.home {
    margin: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;

    height:200px;
    margin-bottom: 800px;

    font-size: 36px;
    color: white;
    background: linear-gradient(to right, #D90D58, #1EB7D9);
}

.video {
    object-fit:cover;
    object-position: top right;
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    right:0;
    position: absolute;
    z-index: -1;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width:400px;
    margin: 0;
    padding-left: 0;

    text-align: center;
    text-transform: uppercase;
    font-size: 85px;
    line-height: 1.1;
    color: #ffffff;

    list-style: none;
}

.menu li a {
    font-size: 22px;
}

.resumeoverview {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 200px)
}

.resumeoverview div {
    width: 100px;
    height: 100px;
    background-color: rgba(43, 43, 43, 0.735);
}

@media screen and (max-width: 767px) {
    .home-content h1 {
        font-size: 50px;
    }
    .home-content {
        top: 100px;
    }
    video {
        top:131.5px;
        height:300px;
    }
    .overlay {
        top:131.5px;
        height:300px;
    }
    div.blank {
        margin-bottom: 700px;
    }
}