/* Home stylesheet */
/* Version 1.2 */

/* Color Theme - #D90D58 - Wine Pink, #1EB7D9 - Bright Cerulean*/

/* =============================================================*/
/* ==================== Basic configuration ====================*/
/* =============================================================*/

@import "./style.css";
@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Roboto&display=swap');

.banner {
    font-family: Helvetica, sans-serif;
}

/* =============================================================*/
/* ======================= Main Contents =======================*/
/* =============================================================*/

.banner {
    display: flex;
    justify-content: center;
    align-items: center;

    height:200px;
    margin-bottom: 800px;

    font-size: 36px;
    color: white;
    background: linear-gradient(to right, #D90D58, #1EB7D9);
}

.video {
    object-fit:cover;
    object-position: right;
    position: absolute;
    width: 100%;
    height: 1000px;
    /* top:71px; */
    top:0;
    right:0;
    position: absolute;
    z-index: -1;
}

header, header * {
    background-color:#00000000;
}

nav {
    border-bottom: 0;
}

/* .overlay {
    position: absolute;
    top: 71.5px;
    left: 0;
    bottom: 0;
    right: 0;
    height: 500px;
    z-index: 2;
    background: rgba(0,0,0,0.5);
} */

.home-content {
    width: 100%;
    margin: 0 auto;
    position: relative;
    top: 150px;
    color: #ffffff;
    z-index: 3;
}

.home-content h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 85px;
    line-height: 1.1;
}

div.blank {
    margin-bottom: 900px;
}

@media screen and (max-width: 767px) {
    .home-content h1 {
        font-size: 50px;
    }
    .home-content {
        top: 100px;
    }
    video {
        top:131.5px;
        height:300px;
    }
    .overlay {
        top:131.5px;
        height:300px;
    }
    div.blank {
        margin-bottom: 700px;
    }
}