/* About stylesheet */
/* Version 3.0 */

/* Color Theme - #D90D58 - Wine Pink, #1EB7D9 - Bright Cerulean*/

/* =============================================================*/
/* ==================== Basic configuration ====================*/
/* =============================================================*/

@import "./style.scss";
@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Roboto&display=swap');
@import "./fixed-bg.scss";

h1, .index h3, .contact h3{
    font-family: Helvetica, sans-serif
}

.lang-kr {
    font-family: "Helvetica Neue";
}

/* =============================================================*/
/* ======================= Main Contents =======================*/
/* =============================================================*/

.contents {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: white;
}
#name {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 160px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
    margin-top: 30px;
    padding-top: 5px;
    margin-left: 0;
    h1{
        font-size: min(12vw, 36px);
        margin: 15px 0px 12px;
        font-weight: 600;
        text-align: center;
        .lang-kr{
            font-size: 36px;
            margin: 15px 0px 8px;
            font-weight: 600;
        }
    }
    .bg{
        background: linear-gradient(to right, #D90D58, #1EB7D9);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    hr{
        width: 10em;
        border: 0;
        border-top: 1px solid darkgray
    }
    h3{
        font-weight: 400;
        margin: 12px 0px 15px;
        text-align: center;
    }
}

.englink {
    font-size: 15px;
}

.bodygroup {
    text-align: start;
    margin: 50px 50px 0px;
    max-width: 720px;
    width: 100%;
    p {
        text-align: justify;
        word-spacing: -0.05em;
    }
    span {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        text-align: justify;
        word-spacing: -0.05em;
        li {
            width:fit-content;
        }
    }
    .title {
        font-size: 22px;
        word-spacing: -0.05em;
    }
}

#about_me {
    .profile {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 35px 0px;
        img {
            width: 150px;
        }
    }
    
    .profile_outline{
        border: 1px solid gray;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.subhead{
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 12px;
    text-align: center;
}

.subsubhead{
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 5px;
}

hr.titleLine {
    width: 100%;
    height: 1px;
    color: #bbbbbb;
    margin: 0;
}

#cvlink{
    h3{
        font-size: 20px;
        font-weight: 400;
        color:#D90D58;
        text-align: center;
        width: fit-content;
        transition: color 0.2s ease-in-out;
    }
    display: block;
    margin:0 auto;
    width: fit-content;
}

#cvlink:hover{
    h3 {
        color:#1EB7D9;
    }
}

footer {
    display: block;
    width: 100%;
    height: 150%;
    background-color: lightgray;
    padding: 10px;
}

/* mobile */
@media screen and (max-width: 768px) {
    main {
        flex-direction: column;
    }
    .index {
        display: none;
    }
    .contents {
        position: static;
        width: 100%;
        height: 100%;
    }
    .bodygroup {
        margin: 50px 20px 0px;
        max-width: fit-content;
        width: 100%;
    }
}

@media screen and (max-width: 300px) {
    #name {
        height: fit-content;
    }
    .bg {
        hr {
            display: none;
        }
        h3 {
            display: none;
        }
    }
}