/* Home stylesheet */
/* Version 1.2 */

/* Color Theme - #D90D58 - Wine Pink, #1EB7D9 - Bright Cerulean*/

/* =============================================================*/
/* ==================== Basic configuration ====================*/
/* =============================================================*/

@import "./style.scss";
@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Roboto&display=swap');

.banner {
    font-family: Helvetica, sans-serif;
}

.lightaccent {
    color:#ffffff;
}

.lightgray {
    color:#bbbbbb;
}

/* =============================================================*/
/* ======================= Main Contents =======================*/
/* =============================================================*/

.home {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;

    canvas {
        position: absolute;
        top:0;
        right:0;
        z-index: -2;
    }
    .bgoverlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top:0;
        right:0;
        background-color: rgba(0, 0, 0, 0.4);
        z-index: -1;
    }
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;

    height:200px;
    margin-bottom: 800px;

    font-size: 36px;
    color: white;
    background: linear-gradient(to right, #D90D58, #1EB7D9);
}



.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width:200px;
    margin: 0;
    margin-left: 30px;
    padding-left: 0;

    text-align: center;

    line-height: 1.1;

    list-style: none;
    li button { font-size: 18px; text-transform: uppercase; background-color:transparent; border:0;}
}

.overviews {
    margin-top: clamp(10px, calc(20vw - 200px), 200px);
    height: 100%;
    display: flex;
    flex-direction: row;
    transition: transform 0.4s ease-in-out;
}

.resumeui, #activityui {
    width: 60vw;
    margin-left: 30px;
    margin-right: calc(40vw - 30px);
    flex-shrink: 0;
    flex-grow: 0;
}

.resumeui{
    .resumeimg {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 2vh;
        img {
            width: max(min(21vh, 12vw), 150px);
            height: max(min(21vh, 12vw), 150px);
            object-fit: cover;
            border: 1px solid black;
            border-radius: 50%;
        }
        .overlay {
            display:inline-block;
            position: absolute;
            top: 0px;
            width: calc(max(min(21vh, 12vw), 150px) + 1px);
            height: calc(max(min(21vh, 12vw), 150px) + 1px);
            border: 1px solid black;
            border-radius: 50%;
            z-index: 2;
            background:linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.8));
        }
        .text {
            width: 100%;
            margin: 0 auto;
            position: absolute;
            top: calc(max(min(21vh, 12vw), 150px) - max(min(7.5vh, 4.5vw), 36px));
            color: white;
            z-index: 3;
            h1 {
                text-align: center;
                text-transform: uppercase;
                font-size: max(min(5vh, 3vw), 24px);
                font-weight: 400;
                line-height: 1.1;
                letter-spacing: 0;
                font-family: 'Times New Roman', Times, serif ;
            }
        }
    }

    .resumesummary {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 17vh;
        column-gap : 30px;
        div {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 40px;
            img {
                width: 4.5vh;
                height: 4.5vh;
                border-radius: 50%;
                display: none;
            }
            span {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                font-size: 20px;
                line-height: 1;
            }
            h1 {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                margin: 0;
                margin-top: 20px;
                font-size: 28px;
                font-weight: 200;
                line-height: 1;
            }
        }
    }
    .pagelink {
        display: inline-flex;
        width: 350px;
        flex-direction: row;
        align-items: center;
        color:white;
        font-size:24px;
        margin-top: 20px;
        div {
            display: inline-block;
            background-color: white;
            height: 30px;
            width: 30px;
            text-align: center;
            vertical-align: middle;
            margin-right: 10px;
            transition: all 0.2s ease-in-out;
            span {
                font-size:36px;
                line-height: 0;
                color:#000000;
                text-align: left;
                white-space: nowrap;
            }
        }
        &:hover {
            color: #D90D58;
            div{
                background-color: #D90D58;
            }
        }
    }
}

#activityui{
    height: 64vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    div {
        height: 100%;
        width: 26vw;
        background-color: rgba(0, 0, 0, 0.6);
        margin: 0 10px;
        padding: 20px;
        color: white;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        img {
            height: 6vw;
            object-fit: contain;
        }
        .detailtext {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: none;
            height: 300px;
            span {
                font-size: 22px;
            }
            p {
                margin:0;
            }
        }
    }
}

@media screen and (max-width: 960px) {
    .home {
        .bgoverlay {
            background-color: rgba(0, 0, 0, 0.4);
            
        }
        .menu {
            margin-left:20px;
        }
    }
    .overviews{
        margin-top:10px;
    }
    .resumeui, #activityui {
        margin:0 30px;
        width: calc(100% - 60px);
    }
    .resumeui {
        .resumeimg {
            margin-top:30px;
            margin-bottom: 5vh;
        }
        .resumesummary {
            grid-template-rows: 10vh;
            div {
                h1{
                    margin: 0;
                    font-size: 18px;
                    height: 60px;
                }
                span {
                    height: 60px;
                    font-size: 16px;
                }
            }
            img {
                display: none;
            }
        }
        .pagelink {
            margin-top:40px;
            font-size: 18px;
        }
    }
    #activityui{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        div {
            height: 12vh;
            width: 100%;
            margin: 30px 0;
            flex-direction: row;
            img {
                height: 6vh;
                width: 6vh;
            }
            .detailtext {
                align-items:flex-start;
                span {
                    font-size: 14px;
                }
                p {
                    font-size: 16px;
                }
            }
        }
    }
}