/* Project stylesheet */
/* Version 2.0 */

/* Color Theme - #D90D58 - Wine Pink, #1EB7D9 - Bright Cerulean*/

/* =============================================================*/
/* ==================== Basic configuration ====================*/
/* =============================================================*/

@import "./style.scss";
@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Roboto&display=swap');
@import "./fixed-bg.scss";
h1, .index h3, .contact h3{
    font-family: Helvetica, sans-serif
}

/* =============================================================*/
/* ======================= Main Contents =======================*/
/* =============================================================*/


#projects {
    padding:40px clamp(24px, 6vw, 150px);
    display:grid;
    grid-template-columns: repeat(auto-fill,minmax(350px, 1fr));
    gap:24px;
    .box-wrap {
        opacity: 0;
        transform: translateY(20%);
        transition: opacity .45s ease, transform .45s ease;
        will-change: opacity, transform;
    }
    .box-wrap.in {
        opacity: 1;
        transform: translateY(0);
    }

    .box {
        width: 100%;
        margin: 0 0 20px 0;
        padding: 20px;
        transform: perspective(600px) rotateX(var(--rx, 0deg)) rotateY(var(--ry, 0deg));
        transition: transform 80ms ease-out, background-color .2s, color .2s;
        transform-style: preserve-3d;
        backface-visibility: hidden;
        color: white;
        background-color: rgba(0, 0, 0, 0.6);
        &:hover {
        cursor:pointer;
            background-color: rgba(255, 255, 255, 0.75);
            color: black;
        }
        &.tilting {
            will-change: transform;
        }
    }
    
    h2.title, h2.title a {
        font-size: 24px;
    }
    
    
    .thumbnail {
        width: 100%;
        object-fit: cover;
        background-color: darkgray;
        aspect-ratio: 4/3;
    }
    .skill {
        padding: 2px 5px;
        margin: 5px 7px 5px 0px;
        border-radius: 5px;
        line-height: 1.05;
        height:fit-content;
        color:black;
    }

    .Game {
        background-color: rgb(255, 202, 255);
    }

    .Web {
        background-color: rgb(214, 235, 255);
    }

    .Algorithm {
        background-color: rgb(202, 255, 210);
    }
}

#projmodal {
    #closebutton {
        position: absolute;
        left: 15px;
        top: 15px;
        width:20px;
        height:20px;
        border-radius: 50%;
        background-color:red;
        border: 0;
        padding: 0;
    }
    button:hover {
        cursor: pointer;
    }
    h2 {
        text-align: center;
    }
    .preview {
        margin-top: 25px;
        width: 100%;
        max-height: 50%;
        aspect-ratio: 16/9;
        object-fit: cover;
        border: 1px solid black;
    }
    .skills {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0;
        height: fit-content;
        li {
            padding: 2px 5px;
            margin: 5px 7px 5px 0px;
            border-radius: 5px;
            background-color: lightgray;
            line-height: 1.05;
            height:fit-content;
        }
    }
}

@keyframes loadup {
    0% {
        opacity: 0.2;
        transform: translateY(20%);
    }

    100% {
        opacity: 1.0;
        transform: translateY(0);
    }
}

/* mobile */
@media screen and (max-width: 768px) {
    #projects {
        grid-template-columns: 1fr;
        padding:40px 40px;
    }
    #projmodal {
        video {
            aspect-ratio: 4/3;
        }
    }
}