/* Index stylesheet */
/* Version 1.2 - Updated on 07 APR 2023 */

/* Color Theme - #D90D58 - wine pink, #1EB7D9 - Bright Cerulean*/

/* =============================================================*/
/* ==================== Basic configuration ====================*/
/* =============================================================*/

@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Roboto&display=swap');

* {
    
    font-family:'Times New Roman', Times, serif;
    font-size: 16px;
    box-sizing: border-box;
}

body {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

a {
    color: inherit;
    text-decoration: inherit;

    transition: all 0.2s ease-in-out;
}

a:hover {
    color: #D90D58
}

small {
    font-size: small;
    color: gray;
}

/* =============================================================*/
/* ========================= Main part =========================*/
/* =============================================================*/

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

    width: 100%;
    background-color: white;
    padding: 10px 0;
    border-bottom: 1px solid;
}

.logo {
    height: 50px;
    padding-left: 10px;
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav ul li {
    list-style: none;
    padding: 0 10px;
}

main {
    width: 100%;
}

footer {
    display: block;
    width: 100%;
    height: 150%;
    background-color: lightgray;
    padding: 10px;
}

@media screen and (max-width: 767px) {
    nav {
        flex-direction: column;
    }
    .logo {
        padding: 0;
        margin-bottom: 10px;
    }
    nav ul {
        padding-left: 0;
    }
}